body {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

img {
  width: 200px;
  border-radius: 5%;
}

/* Hero section of the website */

#hero-section {
  height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../img/Berlin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-section h1 {
  width: auto;
  padding: 10px;
  font-weight: 800;
  background-color: #1d3557;
  border-radius: 5px;
}

#hero-section p {
  width: 50%;
  padding: 20px;
  font-size: 24px;
  background-color: #457b9d;
  border-radius: 5px;
}

/* Activities section of the website */

#activities-section {
  color: #457b9d;
  background-color: #f1faee;
  padding: 50px;
}

#activities-section h2 {
  font-size: 30px;
  margin: 50px;
}

.activities-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  
  margin-top: 100px;
  margin-bottom: 50px;
}

.activity {
  width: 50%;
}

.activity h3 {
  font-size: 18px;
}

.activity p {
  font-style: italic;
  font-size: 17px;
}

/* Card section of the website */

#card-section {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #1d3557;
}

.card-wrapper {
  width: 50%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  background-color: #457b9d;
  color: #f1faee;
  border-bottom: 10px solid #1d3557;

  padding: 50px;
  margin-block: 100px;
}

.card-info h4 {
  font-size: 30px;
}

.card-info p {
  font-size: 18px;
}

.card-info p:last-child {
  font-weight: 800;
}