body {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

img {
  width: 200px;
  border-radius: 5%;
}

/* Hero section of the website */

#hero-section {
  height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../img/Berlin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-section h1 {
  width: auto;
  padding: 10px;
  font-weight: 800;
  background-color: #1d3557;
  border-radius: 5px;
}

#hero-section p {
  width: 50%;
  padding: 20px;
  font-size: 24px;
  background-color: #457b9d;
  border-radius: 5px;
}