/* Default styles */

body {
  margin: 0;
  text-align: center;

  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

img {
  width: 200px;
}

/* Hero section of the website */

#hero-section {
  height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../img/Berlin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-section h1 {
  padding: 10px;
  font-weight: 800;
  background-color: #1d3557;
}

#hero-section p {
  width: 60%;
  padding: 20px;
  font-size: 24px;
  background-color: #457b9d;
}

/* Activities section of the website */

#activities-section {
  color: #457b9d;
  background-color: #f1faee;
  padding: 50px;
}

#activities-section h2 {
  font-size: 30px;
  margin: 25px 0;
}

.activities-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin: 75px 0;
}

.activity {
  flex-basis: 100%;
}

/* Card section of the website */

#card-section {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  color: #1d3557;
}

.card-wrapper {
  width: 50%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  background-color: #457b9d;
  color: #f1faee;
  border-bottom: 10px solid #1d3557;

  padding: 50px;
  margin-block: 100px;
}

.card-info h4 {
  font-size: 30px;
}

.author-name {
  font-weight: 800;
}

/* Footer section of the website */

#footer-section {
  background-color: #1d3557;
  font-size: 18px;
  font-weight: 800;

  padding: 20px;
}

#footer-section a {
  color: #fff;
  font-style: italic;
}